body {
    margin:0;
    padding:0;
}

html {
    overflow: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.gjs-one-bg {
    background-color: #78366a !important;
  }
  